<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirm Email</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,301,701,300,501,401,901,400&f[]=pally@400,700,1,500&display=swap" rel="stylesheet">

        <style>
            .mail-body{
                display: flex;
                justify-content: center;
                font-family: 'Satoshi', sans-serif;
                margin-top: 2rem;
            }
            .mail-content{
                width: 50rem;
                background: #1D3329;
                padding: 3rem;
                color: white;
                font-size: 1.3rem;
            }
            .mail-content-header{
                font-size: 3rem;
                margin-bottom: 2.5rem;
            }
            .mail-link{
                background: white;
                color: #1d3329;
                text-decoration: underline;
                padding: 0.5rem 1rem;
                border-radius: .3rem;
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
            .mail-link a{
                color: #21507F; 
            }

        </style>
    </head>
    <body>
        
        <div class="mail-body">
            <div class="mail-content">
                <h1 class="mail-content-header">Reset Passsword!</h1>
                <p>Hi <%= locals.firstname %>  <%= locals.lastname %>,</p>
                <p style="line-height: 2.3rem;">To reset your password for Fourier<span style="color: #97F675;">Pay</span>, 
                    please click the link below.
                </p>
                <p class="mail-link"><a href="https://fourierpay.com/reset-password/">https://fourierpay.com/reset-password/<%= locals.token %></a></p>
                <p style="line-height: 2.3rem;">
                    If you don’t want to reset your password, you can ignore this message. Someone is probably trying to hack your account. 
               </p>
                <p style="line-height: 2.3rem; margin-bottom: 4rem;">
                    Thanks!
               </p>
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 557.35 116.95"><defs><style>.cls-1{fill:#97f675;}.cls-2{fill:#fff;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M103.12,35.13c16.76,0,29,11.18,29,27.83s-12.23,27.73-29,27.73S74,79.62,74,63,86.25,35.13,103.12,35.13Zm0,41c7.48,0,12.65-5.27,12.65-13.28s-5.17-13.18-12.65-13.18S90.36,55,90.36,62.86,95.53,76.14,103.12,76.14Z"/><path class="cls-1" d="M191.5,36.71V89.43H176.21l-1.06-5.91c-3.27,4.33-9.8,7.27-16.12,7.27-12,0-19.4-8-19.4-21V36.71h16.24v27.2c0,8.65,2.95,12.44,9.58,12.44,7,0,9.81-3.59,9.81-12.23V36.71Z"/><path class="cls-1" d="M240,52h-5.16C225.59,52,220,56.11,220,66.55V89.43H203.76V36.82H219l.85,7.8c2.22-5.17,6.85-8.65,13.92-8.65a27.22,27.22,0,0,1,6.21.74Z"/><path class="cls-1" d="M247,19.21a9.23,9.23,0,1,1,9.27,9.28A9.13,9.13,0,0,1,247,19.21Zm1.26,17.5h16.24V89.43H248.27Z"/><path class="cls-1" d="M273.9,63C273.9,46.52,285,35,300.89,35c16.55,0,26.89,10.86,26.89,28v4.11l-38.27.21c.94,7,4.85,10.22,12,10.22,6.11,0,10.44-2.21,11.59-6H328c-1.89,11.7-12.33,19.18-26.77,19.18C285.29,90.79,273.9,79.19,273.9,63Zm15.82-5.59h21.93c0-5.58-4.11-9.16-10.65-9.16S291,51.05,289.72,57.37Z"/><path class="cls-1" d="M373.67,52H368.5c-9.28,0-14.87,4.11-14.87,14.55V89.43H337.4V36.82h15.29l.84,7.8c2.21-5.17,6.85-8.65,13.91-8.65a27.45,27.45,0,0,1,6.23.74Z"/><path class="cls-1" d="M.63,23.44c0-.21,0-.39.05-.6a27,27,0,0,1,8-16.1A26.59,26.59,0,0,1,19.59.48,12.72,12.72,0,0,1,23.17,0H64.52a6.05,6.05,0,0,1,2.53.5,14.26,14.26,0,0,1,8.42,11.38c.59,6.33-3.63,12.62-10.28,14.81a6.17,6.17,0,0,1-2,.29l-40.85.31a7.44,7.44,0,0,0-1.05.09,26.31,26.31,0,0,0-11,4.73A27.57,27.57,0,0,0,0,48.81Z"/><path class="cls-1" d="M.16,62.27a5.65,5.65,0,0,1,.15-1.35A29.57,29.57,0,0,1,21.4,39.13a5.91,5.91,0,0,1,1.56-.2H52.23a6.15,6.15,0,0,1,2.12.34,13.73,13.73,0,0,1-1.84,26.48l-18.71.12a6.22,6.22,0,0,0-6.18,6.22v16.3A14.21,14.21,0,0,1,.35,90.74,6,6,0,0,1,0,88.56Z"/><path class="cls-2" d="M442.45,39.72c0,14.8-10.1,24.7-25.2,24.7h-13.8V89H387.24V46.2h16.3v7a1.89,1.89,0,0,0,2.07,1.62,2.42,2.42,0,0,0,1.42-.44L424.62,41.3a1.85,1.85,0,0,0,0-3.13L407,25.08a2.42,2.42,0,0,0-1.42-.44,1.89,1.89,0,0,0-2.07,1.62v7h-16.3V15h30C432.35,15,442.45,24.92,442.45,39.72Z"/><path class="cls-2" d="M450.15,76.84c0-9.2,6.5-14.9,18.5-15.8l14-1.1v-.8c0-4.9-3-7.5-8.5-7.5-6.5,0-10,2.5-10,7h-12.8c0-11.3,9.3-18.7,23.6-18.7,14.5,0,22.7,8.1,22.7,22.4v29.2h-13.6l-1-6.6c-1.6,4.6-8.2,7.9-15.7,7.9C456.75,92.84,450.15,86.64,450.15,76.84Zm32.6-4v-2.7l-7.8.7c-6.7.6-9.1,2.1-9.1,5.3,0,3.6,2.2,5.3,6.9,5.3C478.65,81.44,482.75,78.54,482.75,72.84Z"/><path class="cls-2" d="M503.15,102.64h8.5c5.2,0,7.4-1.6,9.4-7l.9-2.4-20.1-51.7h16.5l10.9,32.1,12.1-32.1h16L532,102.44c-4.2,10.2-9.8,14.51-18.6,14.51a35.93,35.93,0,0,1-10.2-1.4Z"/></g></g></svg>
            </div>
        <div>
    </body>
</html>